:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --second-text-color: #ffffff;
    --acceny-color: #2196f3;
    --text-color: #f5f5f5;
    --footer-bg-color: #2f303a;
    --second-bg-color: #f5f4fa;
    --header-bg-color: #ffffff;
    --button-hover-color: #188ce8;
    --border-color:#EEEEEE;
    --footer-address-rgba: rgba(255, 255, 255, 0.6);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--header-bg-color);
    color: var(--title-text-color);
}

ul,li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1,h2,h3,p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* background */
header {
    background-color: var(--header-bg-color);
    border: 1px solid #ECECEC;
}

.hero {
    background-color: var(--footer-bg-color);
}
.overlay {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/bg-2-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 
section.specifics {
    background-color: var(--header-bg-color);
}

section.works {
    background-color: var(--header-bg-color);
    padding-bottom: 94px;
}

section.team {
    background-color: var(--second-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

footer {
    background-color: var(--footer-bg-color);
}

/* link */
.container-nav {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.site-nav {
    margin-left: 93px;
}
.logo {
    margin-right: 93px;
}
.site-nav .item {
    margin-right: 50px;
    display: inline-block;
}
.site-nav .item:last-child {
    margin-right: 0;
}
.nav a {
    display: inline-block;
}
.nav-link {
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact {
    display: flex;
    margin-left: auto;
}


.contact-link {
    font-weight: 500;
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: block;
}
.contact .item + .item {
    margin-left: 50px;
} 

.nav-link:hover,
.nav-link:focus {
    color: var(--acceny-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--acceny-color);
}

/* РґРѕРµР±РµС‚СЃСЏ */
.contact-footer a {
    color: var(--footer-address-rgba);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;
}

.contact-footer a:hover,
.contact-footer a:focus {
    color: var(--acceny-color);
}

/* color text */
.container-hero {
    width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        display: inline-block;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
}
.hero-title {
    color: var(--second-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 796px;
}
.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero button {
    display: inline-block;
    color: var(--second-text-color);
    background-color: var(--acceny-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-color: transparent;
    border-radius: 4px;
    min-width: 216px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}


button:hover,
button:focus {
    background-color: var(--button-hover-color);
}

.visually-hidden {
    display: inline-block;
    position: absolute;
    width: 103px;
    height: 38px;
    margin: -1px;
    border: 1px solid transparent;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    margin-bottom: 0px;
}
.container-specifics {
    width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
}
.specifics {
    padding-top: 94px;
    padding-bottom: 94px;
}
.specifics-list {
    display: flex;
    gap: 30px;
}
.specifics-list li {
    flex-basis: calc((100% - 3 * 30px) / 4);
}
.group-list::before {
    display: block;
    content: "";
    height: 120px;
    background-image: url(../images/Group.png);
    background-color: rgba(245, 244, 250, 1);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.clock-list::before {
    display: block;
    content: "";
    height: 120px;
    background-image: url(../images/clock\ 1.png);
    background-color: rgba(245, 244, 250, 1);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.diagram-list::before {
    display: block;
    content: "";
    height: 120px;
    background-image: url(../images/diagram\ 1.png);
    background-color: rgba(245, 244, 250, 1);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.astronaut-list::before {
    display: block;
    content: "";
    height: 120px;
    background-image: url(../images/astronaut\ 1.png);
    background-color: rgba(245, 244, 250, 1);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.specifics-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.specifics-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.container-works {
    width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
}

.works-photo {
    display: flex;
}
.img {
    margin-right: 30px;
}
img {
        display: block;
        max-width: 100%;
}
.img:last-child {
    margin-right: 0;
}

.works-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.container-team {
    width: 1200px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
}
section.team {
        padding-top: 94px;
}
.team-list {
    display: flex;
    gap: 30px;
}
.person {
    background-color: var(--second-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.person:last-child {
    margin-right: 0;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.job-title {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
}

.examples-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.example-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.text-p {
    padding-top: 30px;
    padding-bottom: 30px;
}
.hr {
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 16px;
    max-width: 100%;
}
.social-links 
{
    display: flex; 
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.icon:focus {
    color: var(--acceny-color);
}
.social-links:last-child {
    margin-right: 0;
}
.icon-logo {
    display: block;
        width: 20px;
        height: 20px;
        align-items: center;
justify-content: center;
}
.regular-clients {
    background-color: var(--text-color);
}
.clients {
    color: var(--title-text-color);
    width: 1200px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
}
.list-clients {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
}
/* С€СЂРёС„С‚ */
.container-footer {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.container-footer.logo {
padding-top: 60px;

}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
address {
    font-style: normal;
    margin-top: 20px;
}

.logo {
    color: var(--acceny-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 0;
}
.adress-list {
    margin-bottom: 9px;
}
.adress-list:last-child {
    margin-bottom: 0;
}
.studio {
    color: var(--second-text-color);
}

.nav-studio {
    color: var(--title-text-color);
}

a.map {
    color: var(--second-text-color);
}


/*div.container-btn {
    width: 1200;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        display: inline;
}*/

.btn {
    background-color: var(--second-bg-color);
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 00.03em;
    line-height: 1.62px;
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters .btn:hover,
.filters .btn:focus {
    background-color: var(--acceny-color);
    color: var(--second-text-color);
    cursor: pointer;
}

.container-flex {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.card {
    flex-basis: calc((100% - 2 * 30px) / 3);
}
.div.container-flex { 
    display: flex;
    flex-wrap: wrap;
}
.examples {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

.examples-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

/* СѓРґР°Р»РёР»Р» С„РѕРЅС‚ С„РµРјРёР»Рё*/
.example-text {
    color: var(--primary-text-color);

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.title-text {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 370px;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding-left: 24px;
    padding-bottom: 24px;
}

address {
    font-style: normal;
}

.logo {
    color: var(--acceny-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.studio {
    color: var(--second-text-color);
}

.nav-studio {
    color: var(--title-text-color);
}

/* СѓРґР°Р»РёР» С„РѕРЅС‚ С„РµРјРёР»Рё */
a.map {
    color: var(--second-text-color);
}

/* СЃС‚СЂР°РЅРёС†Р° РїРѕСЂС‚С„РѕР»РёРѕ */

.filters button {
    background-color: var(--second-bg-color);

    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 26px;
}

.filters button:hover,
.filters button:focus {
    background-color: var(--acceny-color);
    color: var(--second-text-color);
    cursor: pointer;
}
.nav-link.current {
    color: var(--acceny-color);
}
*, *::after, *::before {
    box-sizing: border-box;
}